<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
  <coverage>
    <include>
      <directory suffix=".php">src/Captioning/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Captioning Test Suite">
      <directory>tests/Captioning/</directory>
    </testsuite>
  </testsuites>
</phpunit>
